<h2>PUBLICATIONS</h2>

Utilisateur: {{ username }}
<div class="container">
	<div class="row">
		<ul class="publications">
			<li>
				<img src="./img/vieux.png" class="img-rounded pull-left">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, ab officia distinctio temporibus provident blanditiis sint ullam est harum quae quam maiores! Amet, accusamus laborum voluptate velit fugit quidem dolores.</p>
				<div class="comments-header pull-right">Commentaires: </div>
				<ol class="comments">
					<li class="row0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, ab officia distinctio temporibus provident
						<img src="./img/vieux2.png" class="img-rounded">
					</li> 
					<li class="row1">
						LOL
						<img src="./img/vieux3.png" class="img-rounded">
					</li>						
				</ol>
			</li>
		</ul>
	</div>
	<div class="row">
		<ul class="publications">
			<li class="pull-right">
				<img src="./img/vieux2.png" class="img-rounded pull-left">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, ab officia distinctio temporibus provident blanditiis sint ullam est harum quae quam maiores! Amet, accusamus laborum voluptate velit fugit quidem dolores.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, ab officia distinctio temporibus provident blanditiis sint ullam est harum quae quam maiores! Amet, accusamus laborum voluptate velit fugit quidem dolores.</p>
				<div class="comments-header pull-right">Commentaires: </div>
				<ol class="comments">
					<li class="row0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, ab officia distinctio temporibus provident
						<img src="./img/vieux.png" class="img-rounded">
						</li>
					<li class="row1">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, ab officia distinctio temporibus provident
						<img src="./img/vieux3.png" class="img-rounded">
					</li>							
				</ol>
			</li>
		</ul>
	</div>
	<div class="row">
		<ul class="publications">
			<li>
				<img src="./img/vieux3.png" class="img-rounded pull-left">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, ab officia distinctio temporibus provident blanditiis</p>
				<div class="comments-header pull-right">Commentaires: </div>
				<ol class="comments">
					<li class="row0">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore, ab officia distinctio temporibus provident
						<img src="./img/vieux2.png" class="img-rounded">
					</li>							
				</ol>
			</li>
		</ul>
	</div>
</div>