<h2>PUBLICATIONS</h2>

Utilisateur: {{ username }}
<div class="container">
	<div class="row">		
				<div class="col-xs-3 col-md-5">
					<img src="./img/vieux.png" class="img-rounded">
					Texte de la publication 
					
					<ol>
						<li> comm 1 </li> 
						<li> comm 2 </li>
						<li> comm 3 </li>							
					</ol>
					
				</div>
	</div>
	
	<div class="row">		
				<div class="col-xs-3 col-md-5">
					<img src="./img/vieux2.png" class="img-rounded">
					Texte de la publication 2
					
					<ol>
						<li> comm 1 </li> 
						<li> comm 2 </li>
						<li> comm 3 </li>							
					</ol>
				</div>
	</div>
	
	<div class="row">		
				<div class="col-xs-3 col-md-5">
					<img src="./img/vieux3.png" class="img-rounded">
					Texte de la publication 3
					
					<ol>
						<li> comm 1 </li> 
						<li> comm 2 </li>
						<li> comm 3 </li>							
					</ol>
					
				</div>
	</div>
</div>




